<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="seach-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="seach-input" placeholder="nhập từ khóa..." />

        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>